/* ALL */
html, body {
  margin: 0;
  padding: 0;
  

}


* {
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:rgba(226, 226, 226, 0.925);
}


/* Index */
.header {
   
    text-align: center;
    padding:20px;
    color:rgba(44, 44, 44, 0.89);
}

#i {
    height: 285px;
    width: 400px;
    float:right;
    margin:25px
}

.active {
    background-color:rgba(221, 221, 221, 0.205) ;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    color:rgba(44, 44, 44, 0.89);
   
  
  }
  .main-nav {
    text-align: center;
  }
  
  /* Style the topnav links */
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  #develop {
    font-size: 35px;
    width: 250px;
    border: 0px;
    padding: 50px;
    margin: 30px;
    color:rgba(44, 44, 44, 0.89);
  }

  .para {
    color:rgba(44, 44, 44, 0.89);
  }

  .indexcontent {
    margin:3em;
    padding-bottom: 2.5rem; 
   
  }
 
  .main-footer {
    background-color: #333;
    color:#f2f2f2;
    text-align: center;
    padding: 5px;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 25%;
    bottom: 0;
    
    
  }



  .sub-footer {
    padding: 5px;
    
  }


  .sub-footer img {
    width:35px;
    height:35px;
  }





